pkgbase = gsudo
	pkgdesc = Sudo for Windows
	pkgver = 2.6.1
	pkgrel = 1
	url = https://github.com/gerardog/gsudo
	install = gsudo.install
	arch = x86_64
	arch = i686
	license = MIT
	options = !strip
	source = gsudo-2.6.1.tar.gz::https://github.com/gerardog/gsudo/archive/refs/tags/v2.6.1.tar.gz
	sha256sums = 57a02778beb50901757930aee54fdc7b767b5667b2b2baf0c750bee923d53001

pkgname = gsudo
