pkgbase = gsudo
	pkgdesc = Sudo for Windows
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/gerardog/gsudo
	install = gsudo.install
	arch = x86_64
	arch = i686
	license = MIT
	options = !strip
	source = gsudo-2.6.0.tar.gz::https://github.com/gerardog/gsudo/archive/v2.6.0.tar.gz
	sha256sums = c5d56e9d73a598719748adfc948d64d047afc5129265150d0fe686b748f148cc

pkgname = gsudo
