pkgbase = gsudo
	pkgdesc = Sudo for Windows
	pkgver = 2.4.4
	pkgrel = 1
	url = https://github.com/gerardog/gsudo
	install = gsudo.install
	arch = x86_64
	arch = i686
	license = MIT
	options = !strip
	source = gsudo-2.4.4.tar.gz::https://github.com/gerardog/gsudo/archive/v2.0.6.tar.gz
	sha256sums = e1101f341a96cf230b6b656b72aa295c8ba9fc740803f8ef3f97d4c33f0ab989

pkgname = gsudo
